* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title-area {
  display: block;
  margin: 30px 50px;
  width: 300px;
}

#text-area {
  resize: none;
  margin: 30px 50px;
  width: 300px;
}

.div-post {
  margin: 20px 50px;
  background-color: lightblue;
  width: 300px;
}

.hidden {
  display: none;
}

form {
  margin: 10px;
}

input {
  width: 150px;
}

button {
  width: 70px;
  border: none;
  cursor: pointer;
  background-color: darksalmon;
  border-radius: 6px;
}

button:hover {
  background-color: coral;
}

input:disabled {
  background: white;
}
