* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

li {
  text-align: center;
  display: inline-block;
}

li:nth-child(3) {
  color: rgb(252 117 27);
}

li:hover {
  color: rgb(252 117 27);
  cursor: pointer;
}

.footbody {
  width: 100vw;
}

.fourpicture {
  display: flex;
  width: 100vw;
  height: 55vh;
}

.square_1 {
  background-image: url(./images/bg-location-1-map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 25vw;
  min-width: 350px;
}

.square_2 {
  background-image: url(./images/bg-location-1-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 25vw;
  min-width: 350px;
}
.square_3 {
  background-image: url(./images/bg-location-2-map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 25vw;
  min-width: 350px;
}
.square_4 {
  background-image: url(./images/JCOffice-BW-scaled.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  width: 25vw;
  min-width: 350px;
}
square_1,
square_2,
square_3,
square_4 {
}

.fourpic_text {
  width: 350px;
  height: 300px;
  padding-left: 35px;
  padding-top: 50px;
}

.fourpic_title {
  font-size: 56px;
  color: rgb(252 117 27);
  font-weight: bold;
}

.fourpic_body {
  margin-top: 5px;
  font-size: 20px;
  color: white;
  opacity: 0.9;
  font-weight: lighter;
  line-height: 32px;
  letter-spacing: 3px;
}

.contact {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: lighter;
  background: none;
  border: 1px solid white;
  font-size: 18px;
  letter-spacing: 2px;
}

.contact a {
  text-decoration: none;
  color: white;
}

.cantget {
  padding-top: 100px;
  width: 100%;
  height: 500px;
  background-image: url(./images/bg-email-orange.jpg);
  background-size: cover;
  background-position: center;
}

.cantcenter {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
}

.cant_big {
  font-size: 60px;
  color: white;
  font-weight: 600;
}

.cant_small {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}

.name_input {
  width: 325px;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 100;
}

.email_input {
  width: 685px;
  height: 40px;
  margin-top: 20px;
  font-size: 20px;
  padding-left: 12px;
  font-weight: 100;
}

.submit {
  margin-top: 20px;
  cursor: pointer;
  width: 250px;
  height: 40px;
  font-weight: 100;
  background-color: rgb(28, 39, 47);
  font-size: 20px;
  letter-spacing: 2.5px;
  border: none;
}

.submit a {
  text-decoration: none;
  color: white;
}

.footer {
  height: 750px;
  width: 100%;
  background-color: rgb(28, 39, 47);
}

.under_footer {
  margin: 0 auto;
  text-align: center;
  padding-top: 130px;
}

.home_bar {
  margin-top: 42px;
  color: rgb(180, 180, 180);
  font-size: 20px;
  font-weight: bold;
}

div.home_bar ul li {
  text-align: center;
  margin: 2vw;
}

.social_icon {
  width: 1300px;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 30px;
  border-bottom: 1px solid #a3abb1;
}

.icon_1 {
  background-image: url(./images/icon-facebook.png);
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.icon_2 {
  background-image: url(./images/icon-instagram.png);
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.icon_3 {
  background-image: url(./images/icon-pinterest.png);
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}
.icon_4 {
  background-image: url(./images/icon-houzz.png);
  background-position: center;
  background-size: cover;
  width: 60px;
  height: 60px;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
}

.inc {
  width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  color: #a3abb1;
  font-size: 17px;
  font-weight: 100;
}

.design {
  color: #a3abb1;
  margin-top: 18px;
  margin-right: 300px;
  text-align: end;
}
div.design span {
  font-weight: bolder;
  font-size: 1.2em;
  opacity: 1.2;
}
