* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-left: 300px;
  position: relative;
  display: inline-block;
}

.bar {
  display: flex;
  justify-content: space-around;
  width: 400px;
  gap: 20px;
  font-size: 20px;
  padding: 2px;
  color: lime;
}

.scorebar {
  display: flex;
  justify-content: space-around;
  width: 400px;
  gap: 20px;
  font-size: 26px;
  padding: 2px;
  color: black;
}

#cts {
  position: absolute;
  top: 300px;
  left: 320px;
  font-size: 50px;
}

#fps {
  position: absolute;
  font-size: 25px;
  bottom: 40px;
  right: 10px;
  color: lightgreen;
}

.first-status {
  position: absolute;
}

.second-status {
  position: absolute;
  bottom: 3px;
}
