.divbar {
  width: 55px;
  height: 350px;
  position: absolute;
  display: table;
}

#biggestdiv {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.gametable {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.enderup {
  margin-top: 30px;
  text-align: center;
  font-size: 50px;
}

.enderdown {
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.threediv {
  display: flex;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.multiplediv {
  display: flex;
  font-size: 40px;
  width: 100%;
}

.sixdivitem {
  width: 20%;
  text-align: center;
  border-top: 2px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: none;
}

.sixdivitem:first-child {
  border-left: none;
}

.sixdivitem:last-child {
  border-right: none;
}

#bodydiv {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.odddiv {
  width: 55px;
  height: 350px;
  position: absolute;
  display: table;
  background-color: lightsalmon;
}

.evendiv {
  width: 55px;
  height: 350px;
  position: absolute;
  display: table;
  background-color: lightcoral;
}

#first {
  transform: rotateZ(00deg);
}
#second {
  transform: rotateZ(22.5deg);
}
#third {
  transform: rotateZ(45deg);
}
#fourth {
  transform: rotateZ(67.5deg);
}
#fifth {
  transform: rotateZ(90deg);
}
#sixth {
  transform: rotateZ(112.5deg);
}
#seventh {
  transform: rotateZ(135deg);
}
#eighth {
  transform: rotateZ(157.5deg);
}
body {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.childdiv {
  height: 50%;
  position: unset;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}
.rad {
  width: 250px;
  height: 250px;
  background-color: white;
  border-radius: 200px;
  position: relative;
}
.bgrad {
  width: 360px;
  height: 360px;
  background-color: lightgreen;
  border-radius: 250px;
  position: absolute;
  z-index: -1;
}
.threeitem {
  height: 100px;
  display: inline-block;
  width: 33%;
  line-height: 100px;
  text-align: center;
  font-size: 40px;
}

.threeitem:nth-child(2) {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.divbar:nth-child(2) {
  transform: rotateZ(180deg);
}

.squarepick {
  background-color: dimgray;
}

.rpspick {
  background-color: darkorange !important;
}

#imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bolder;
  color: red;
}

.blacker {
  background-color: black;
}

#imgdiv img {
  width: 80%;
  height: 80%;
}

#credit {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 54px;
  text-align: center;
}

#rock {
  height: 100px;
  width: 34%;
  font-size: 40px;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

#paper {
  height: 100px;
  width: 34%;
  font-size: 40px;
  border: none;
}

#scissors {
  height: 100px;
  width: 34%;
  font-size: 40px;
  border: none;
}

#gamestartbtn {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 40px;
}
