div {
  /* CSS문법 : div .div1 #id .class * 등을 선택자라고 한다 */
  /* div a p 등 Tag에 적용하는것을 Tag 선택자 라고 한다 */
  /* .class ,div1 .div2 등 .***으로 설정하여 class를 기준으로 css스타일을 적용하는 것을 class 선택자라고 한다 */
  /* 이외에 id선택자, 의사 선택자(가상클래스) 선택자, 의사 요소(가상클래스)등이 있다 */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display, justify-content, align-items, width, height, background-color, z-index, opacity, color, text-align, font-size등을 CSS 속성이라고 한다 */
  /* CSS속성에 적용되는것을 속성값이라고 한다 */
}

.div1 {
  width: 400px;
  height: 400px;
  background-color: darkorchid;
}
.div2 {
  width: 300px;
  height: 300px;
  background-color: limegreen;
}
.div3 {
  background-color: lightpink;
}
.div4 {
  background-color: lightyellow;
}
