@-webkit-keyframes slider {
  0% {
    background-image: url(./images/item1.jpg);
  }
  24% {
    background-image: url(./images/item1.jpg);
  }
  25% {
    background-image: url(./images/item2.jpg);
  }
  49% {
    background-image: url(./images/item2.jpg);
  }
  50% {
    background-image: url(./images/item3.jpg);
  }
  74% {
    background-image: url(./images/item3.jpg);
  }
  75% {
    background-image: url(./images/item4.jpg);
  }
  100% {
    background-image: url(./images/item4.jpg);
  }
}

@-webkit-keyframes squarea {
  0% {
    left: -100px;
  }
  50% {
    left: -50px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes squareb {
  0% {
    left: -200px;
  }
  50% {
    left: -80px;
  }
  75% {
    left: -40px;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes gbox {
  0% {
    right: -600px;
  }
  50% {
    right: -300px;
  }
  100% {
    right: 0px;
  }
}

@-webkit-keyframes gboxs {
  0% {
    right: -550px;
  }
  50% {
    right: -160px;
  }
  100% {
    right: 230px;
  }
}

@-webkit-keyframes gboxs2 {
  0% {
    left: -580px;
  }
  50% {
    left: -185px;
  }
  100% {
    left: 210px;
  }
}

@-webkit-keyframes gbox2 {
  0% {
    left: -500px;
  }
  50% {
    left: -250px;
  }
  100% {
    left: 0px;
  }
}
